@page "/"
@model Proiect_Medii_ZOO.Pages.Animals.IndexModel

@{
    ViewData["Title"] = "Animals";
}

<h1>Animals</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Animal Species / Enclosure Name / Keeper Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Animal[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].Keeper)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.EnclosureSort">
                    @Html.DisplayNameFor(model => model.Animal[0].Enclosure.EnclosureName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal[0].AnimalDiets)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AnimalD.Animals) {
            string selectedRow = "";
            if(item.ID == Model.AnimalID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keeper.KeeperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enclosure.EnclosureName)
            </td>
                <td>
                    @{
                        foreach (var diet in item.AnimalDiets)
                        {
                            @diet.Diet.DietName <br />
                        }
                    }
                </td>


            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
